In [7]:
from us_visa.pipeline.prediction_pipeline import USvisaData, USvisaClassifier
import pandas as pd
import numpy as np

In [12]:
d={
 'continent': 'Asia',
 'education_of_employee': 'Doctorate',
 'has_job_experience': 'N',
 'requires_job_training': 'N',
 'no_of_employees': 843,
 'company_age': 28,
 'region_of_employment': 'Midwest',
 'prevailing_wage': 79948.12,
 'unit_of_wage': 'Year',
 'full_time_position': 'Y'}
df= pd.DataFrame(d,index=[0])

In [13]:
df

,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,company_age,region_of_employment,prevailing_wage,unit_of_wage,full_time_position
0,Asia,Doctorate,N,N,843,28,Midwest,79948.12,Year,Y

In [14]:
usvisa_df = df

model_predictor = USvisaClassifier()

In [15]:
value = model_predictor.predict(dataframe=usvisa_df)[0]

status = None
if value == 1:
    status = "Visa-approved"
else:
    status = "Visa Not-Approved"
print(status)

Visa-approved