In [2]:
DB_NAME='US_VISA'
COLLECTION_NAME="visa_data"
CONNECTION_URL="mongodb+srv://mansoor:mansoorg@cluster0.qgbtuzt.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

In [3]:
import pymongo
import pandas as pd
import os
from us_visa.constants import DATABASE_NAME, MONGODB_URL_KEY

In [4]:
client = None
if client is None:
    mongo_db_url = os.getenv(MONGODB_URL_KEY)
    # MongoDBClient.client = pymongo.MongoClient(mongo_db_url, tlsCAFile=ca)
    client = pymongo.MongoClient(mongo_db_url)
client = client
database = client[DB_NAME]

In [7]:
if client is None:
    mongo_db_url = os.getenv(MONGODB_URL_KEY)
print(mongo_db_url)

mongodb+srv://mansoor:mansoorg@cluster0.qgbtuzt.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

In [5]:
client = pymongo.MongoClient(mongo_db_url)
print(client)

MongoClient(host=['ac-tixszw9-shard-00-02.qgbtuzt.mongodb.net:27017', 'ac-tixszw9-shard-00-01.qgbtuzt.mongodb.net:27017', 'ac-tixszw9-shard-00-00.qgbtuzt.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', appname='Cluster0', authsource='admin', replicaset='atlas-wejebb-shard-0', tls=True)

In [9]:
database = client[DB_NAME]
print(database)

Database(MongoClient(host=['ac-tixszw9-shard-00-02.qgbtuzt.mongodb.net:27017', 'ac-tixszw9-shard-00-01.qgbtuzt.mongodb.net:27017', 'ac-tixszw9-shard-00-00.qgbtuzt.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', appname='Cluster0', authsource='admin', replicaset='atlas-wejebb-shard-0', tls=True), 'US_VISA')

In [6]:
collection=database[COLLECTION_NAME]
df=pd.DataFrame(list(collection.find()))
df.head()

,_id,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,66338a59797cf6ad5ab94cfb,EZYV20,Asia,Doctorate,N,N,843,1972,Midwest,79948.12,Year,Y,Certified
1,66338a59797cf6ad5ab94d00,EZYV25,Europe,Doctorate,Y,N,241,1981,Midwest,71286.04,Year,Y,Certified
2,66338a59797cf6ad5ab94d14,EZYV45,Asia,High School,Y,N,5407,1998,West,28989.87,Year,Y,Denied
3,66338a59797cf6ad5ab94ceb,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.03,Year,Y,Denied
4,66338a59797cf6ad5ab94cff,EZYV24,North America,High School,N,N,1517,1884,Midwest,90108.38,Year,N,Certified

In [3]:
client=pymongo.MongoClient(CONNECTION_URL)

In [4]:
data_base=client[DB_NAME]

In [5]:

collection=data_base[COLLECTION_NAME]

In [7]:
records=collection.find()

In [10]:
df1=pd.DataFrame(list(collection.find()))
df1.head()

,_id,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,66338a59797cf6ad5ab94cfb,EZYV20,Asia,Doctorate,N,N,843,1972,Midwest,79948.12,Year,Y,Certified
1,66338a59797cf6ad5ab94d00,EZYV25,Europe,Doctorate,Y,N,241,1981,Midwest,71286.04,Year,Y,Certified
2,66338a59797cf6ad5ab94d14,EZYV45,Asia,High School,Y,N,5407,1998,West,28989.87,Year,Y,Denied
3,66338a59797cf6ad5ab94ceb,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.03,Year,Y,Denied
4,66338a59797cf6ad5ab94cff,EZYV24,North America,High School,N,N,1517,1884,Midwest,90108.38,Year,N,Certified

In [5]:
import os

mongo_db_url = os.getenv('MONGODB_URL')
if mongo_db_url:
    print("MongoDB URL found:", mongo_db_url)
else:
    print("MongoDB URL not found!")

MongoDB URL found: mongodb+srv://mansoor:mansoorg@cluster0.qgbtuzt.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

In [6]:
import pymongo
import pandas as pd
import os

In [7]:
client=pymongo.MongoClient(mongo_db_url)
print(client)

MongoClient(host=['ac-tixszw9-shard-00-01.qgbtuzt.mongodb.net:27017', 'ac-tixszw9-shard-00-02.qgbtuzt.mongodb.net:27017', 'ac-tixszw9-shard-00-00.qgbtuzt.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', appname='Cluster0', authsource='admin', replicaset='atlas-wejebb-shard-0', tls=True)

In [7]:
# this below data is used in prediction_trail.ipynb file
df.head()

,_id,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,66338a59797cf6ad5ab94cfb,EZYV20,Asia,Doctorate,N,N,843,1972,Midwest,79948.12,Year,Y,Certified
1,66338a59797cf6ad5ab94d00,EZYV25,Europe,Doctorate,Y,N,241,1981,Midwest,71286.04,Year,Y,Certified
2,66338a59797cf6ad5ab94d14,EZYV45,Asia,High School,Y,N,5407,1998,West,28989.87,Year,Y,Denied
3,66338a59797cf6ad5ab94ceb,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.03,Year,Y,Denied
4,66338a59797cf6ad5ab94cff,EZYV24,North America,High School,N,N,1517,1884,Midwest,90108.38,Year,N,Certified

In [30]:
df[0:2][:-1]

,_id,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,66338a59797cf6ad5ab94cfb,EZYV20,Asia,Doctorate,N,N,843,1972,Midwest,79948.12,Year,Y,Certified

In [54]:
df.iloc[0][1:-1]

case_id                     EZYV20
continent                     Asia
education_of_employee    Doctorate
has_job_experience               N
requires_job_training            N
no_of_employees                843
yr_of_estab                   1972
region_of_employment       Midwest
prevailing_wage           79948.12
unit_of_wage                  Year
full_time_position               Y
Name: 0, dtype: object

In [56]:
(df.iloc[0][1:-1]).to_dict()

{'case_id': 'EZYV20',
 'continent': 'Asia',
 'education_of_employee': 'Doctorate',
 'has_job_experience': 'N',
 'requires_job_training': 'N',
 'no_of_employees': 843,
 'yr_of_estab': 1972,
 'region_of_employment': 'Midwest',
 'prevailing_wage': 79948.12,
 'unit_of_wage': 'Year',
 'full_time_position': 'Y'}

In [27]:
x=df[0:2][1:-1]

In [31]:
x.to_dict()

{'_id': {},
 'case_id': {},
 'continent': {},
 'education_of_employee': {},
 'has_job_experience': {},
 'requires_job_training': {},
 'no_of_employees': {},
 'yr_of_estab': {},
 'region_of_employment': {},
 'prevailing_wage': {},
 'unit_of_wage': {},
 'full_time_position': {},
 'case_status': {}}